*{
    margin: 0;
    padding: 0;
    border: 0;
}

html, body{
    background-color: #00c2ff;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


#message{
    font-family: "Montserrat", sans-serif;

    display: flex;

    background-image: url("falcaoensinalogo.jpeg");
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 50%;
    overflow: hidden;
    font-size: 32px;
    margin: auto;
    width: 25rem;
    height: 25rem;
    align-items: center;
    justify-content: center;
}