*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Montserrat';
    user-select:none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #EAEAEA;
}

.falcao-ensina {
    font-family: 'Poppins';
}